*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: black;
    width: 50vw;
    height: 50vh;
    margin: 90px auto;
position: relative;
}
img{
    position: absolute;
    right: 20px;
    bottom: 50px;
}
p{
    color: white;
}
#welcome{
    font-size: 40px;
    text-align: center;
    font-family: sekil;
}
#lorem{
    font-size: 10px;
    text-align: center;
    font-family: sekil;
}
@font-face {
    font-family: sekil;
    src: url(./Funky\ Dream.otf);
}